* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #3367d6;
  height: 15vh;
  width: 100%;
}

.logo {
  display: flex;
  margin-left: 40px;
}

.search-input-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 650px;
  border-radius: 12px;
  margin-left: 125px;
}

.search-input-container {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-right: 8px;
}
.search-icon-container {
  height: 40px;
  background-color: #2850a7;
  padding: 12px;
}
.icon {
  width: 16px;
  height: 16px;
}
.input-search {
  color: #ffffff;
  background-color: #2850a7;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: none;
  margin-left: 2px;
  outline: none;
}

.history-list {
  display: flex;
  flex-direction: column;
  /* padding-left: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  margin: 0; */
}

/* .history-container {
  padding-left: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 10px 0px #bfbfbf;
  margin: 30px;
  margin-bottom: 16px; */
/* } */
